.delete {
  background-color: rgb(251, 149, 126);
}

.edit {
  background-color: rgb(177, 242, 134);
}

.done {
  background-color: rgb(107, 165, 240);
}

.button {
  font-weight: 600;
  padding: 5px 15px;
  color: rgb(9, 53, 9);
  border: 1px solid rgb(9, 53, 9);
  border-radius: 8px;
  transition: 0.3s;
  &:hover {
    box-shadow: 1px 1px 5px rgb(9, 53, 9);
  }
}
